<!doctype html>

<div class="main-title">
    <h1 id="headline-about">About us</h1>
</div>
<section class="section">
    <div class="container">
        <div class="content">

            <h4 id="headline2">Wonderful menus, refined into soul food by excellent service.</h4>
            <p>Welcome to Ristorante Il Gambero Rosso, a charming Italian eatery that has been delighting diners since its opening in 1998. With over 25 years of culinary excellence, we have become a beloved culinary destination for lovers of authentic Italian
                cuisine. Our dedicated team of chefs brings the rich flavors of Italy to every dish, combining traditional recipes with a modern touch. At Ristorante Bella Italia, we take pride in using only the finest ingredients, sourced locally and
                from Italy, to ensure the highest quality and authenticity. From handmade pasta and wood-fired pizzas to succulent seafood and mouthwatering desserts, each dish is crafted with passion and attention to detail. We invite you to immerse
                yourself in the warm and welcoming ambiance of our restaurant, adorned with rustic Italian decor and a cozy atmosphere. Whether you're seeking an intimate dinner for two or a memorable celebration with friends and family, our attentive
                staff will ensure a truly enjoyable dining experience. Come and experience the true taste of Italy at Ristorante Il Gambero Rosso. Buon appetito!</p>
        </div>
        <div class="image">
            <img src="/assets/images/about.jpg" alt="Image">
        </div>
    </div>
</section>