#your_cart {
    font-size: 30px;
    font-family: 'Great Vibes', cursive;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    padding-top: 50px;
}

.p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}