<!doctype html>
<!--section 1-->
<div class="main-title">
    <h1 id="headline_main" style="font-size:50px ">Ristorante Il Gambero Rosso</h1>
</div>
<section class="section">
    <div class="container">
        <div class="content">

            <h4 id="headline2">Wonderful menus, refined into soul food by excellent service.</h4>
            <p>In our kitchen we cook with attention to detail. Our chef Alexander Berger attaches particular importance to regional and seasonal products from farmers and suppliers from Vienna and the surrounding area. This results in creative, innovative
                dishes full of authenticity and down-to-earthness, which bring the individual taste components to the fore. <br> The vaulted interior is finely covered; however, we enjoyed the guest garden in the courtyard on a summer evening. Food and
                menu of the finest - well coordinated (also with wine accompaniment), flexible with preferences and allergies. We were particularly impressed by the service team, present, coordinated, flexible, attentive and cordial. A hospitality that
                has evening excellent!</p>
        </div>
        <div class="image">
            <img src="/assets/images/home_page.jpg" alt="Image">
        </div>
    </div>
</section>


<!--section 2-->


<div class="container2">
    <section class="section2">
        <h1 class="headline">Why choose us</h1>
        <div class="sub-sections-container">
            <div class="sub-section">
                <h2>Our Inspiration</h2>
                <p>Inspired by his Italian roots, chef Thomas Pedevilla, a native of South Tyrol, conjures up top-quality Alpine-Mediterranean cuisine. He combines seasonal, regional and international products to create modern dishes with Alpine charm and
                    Mediterranean flair</p>
            </div>
            <div class="sub-section">
                <h2>We love Cooking!</h2>
                <p>Cooking is our passion. We cook everything with all our heart and all our dishes are unique and incredible. Come and try. You will be delighted.</p>
            </div>
            <div class="sub-section">
                <h2>What makes us great</h2>
                <p>All our ingredients are sourced from land and are of high quality. We are proud of our recipes that consist of only healthy ingredients. Our guests receive only the best meals!</p>
            </div>
        </div>
    </section>
</div>



<!--section 3-->

<div class="container3">
    <h1 class="headline2">More about us</h1>
    <p class="text">Welcome to our charming Italian restaurant, where passion meets culinary excellence. Step into a world of authentic flavors and warm hospitality, reminiscent of the enchanting streets of Italy. Our talented chefs artfully craft each dish with the
        finest ingredients, carefully sourced to capture the essence of Italian cuisine. From traditional classics like creamy pasta dishes and wood-fired pizzas to innovative creations inspired by regional specialties, our menu promises a delightful
        culinary journey for every palate. Immerse yourself in the inviting ambiance, adorned with rustic décor and the aroma of freshly baked bread. Whether you're seeking a romantic dinner for two or a memorable gathering with friends and family, our
        restaurant is the perfect setting for an unforgettable Italian dining experience. Indulge in the richness of Italian culture and savor the passion infused into every bite. Buon appetito</p>
    <div class="image-container">
        <img src="/assets/images/card1.jpg" alt="Image 1">
        <img src="/assets/images/card2.jpg" alt="Image 2">
        <img src="/assets/images/card3.jpg" alt="Image 3">
        <img src="/assets/images/card4.jpg" alt="Image 4">
        <img src="/assets/images/card5.jpg" alt="Image 5">
    </div>
</div>